<h1>{{title}}</h1>
    
    <h2> Please pick your items </h2>
    <div class="error" *ngIf="errorMessage">{{errorMessage}}</div>
    <div class="row">
      <div class="col-xs-4">

        <ul class="doinline">
          <li><label>search: </label>   <input type="text" name="search" (input)="dosd($event)"/></li>
        </ul>
      <ul class="heroes">
          <li *ngFor="let oitem of itemTopGroups" [class.selected]="hero === selectedHero"  (click)="onSelectItemTopGroup(oitem)">
          <span (click)="toggle(oitem)"> {{ oitem.name }}</span>
          
           <as-tree-view *ngIf=oitem.isExpanded [itemGroups]="getChildren(oitem)" (onItemsSelect)="onItemsSelect($event)" >
                   
           </as-tree-view>
          </li>
      </ul>
      </div>
     <!-- <div class="col-xs-3">
           <h3>  { subgroup } </h3>
      <ul class="heroes">
          <li *ngFor="let childItem of selGrps" [class.selected]="hero === selectedHero" (click)="onSelectItemGroup(childItem)">
           {{ childItem.name }}  
          </li>
      </ul>
      </div>-->
      
      <div class="col-xs-3">
          <!--<h3><button (click)="getbom()">replace with BOM</button></h3>-->
           <h3>  { items } </h3>
        <ul class="station">
              <li *ngFor="let itype of itmtypes" [class.halselected]="hal === selectedHal" (click)="onSelectItem(itype)">
                <img src = "{{itype.type.icon.href}}" class="image"> <div>   {{ itype.type.name}} </div>
              </li>
          </ul>
      </div>
      <div class="col-xs-3">
           <h3>  { current selections } (click to remove) </h3>
        <ul class="station">
             <li *ngFor="let it of selItemTypes" [class.halselected]="hal === selectedHal" (click)="onRemoveItem(it)">
                <img src = "{{it.type.icon.href}}" class="image">  <div> {{ it.type.name }}  </div> <img src="src/assets/images/bom.png" alt="bom" class=imager> 
             </li>
          </ul>
          <h3> BOM </h3>
           <ul class="station">
             <li *ngFor="let b of selBom" [class.halselected]="hal === selectedHal">
                id: {{ b.typeid }} quantity: {{b.quantity}} 
             </li>
          </ul>
          
          <h3> BOM results </h3>
          <ul class="station">
              <li *ngFor="let resit of itemBuild.items">
                  {{resit.description}}  price: {{resit.price | moneyPipe }} typeid: {{resit.typeid}}
              </li>
          </ul>
      </div>

  </div>